body {
  background: black;
}

.GameHeader {
  position: relative;

  // border-bottom: 2px solid darkblue;
  border: 5px solid transparent;
  border-image: linear-gradient(0.25turn, #b927fc7e 0%, #2c91fc6e 25%, #bafd336b 50%, #fec93769 75%, #fd18925b 100%);
  border-image-slice: 0% 0% 100%;
}

.Subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 80vw;
  height: 12vh;

  color: #333;
  font-weight: 700;
  font-size: 1.75rem;
}

// MARK : BOARD

.Deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5vw auto;
  width: 80vw;
}

.Deck__card {
  $ml : 20px;
  $mt : 10px;
  border: 3px solid #666;
  margin-left: $ml;
  margin-top: $mt;

  box-sizing: border-box;
  width: calc(25% - (#{$ml} * .75));
}

.Deck__card:nth-child(4n + 1) {
  margin-left: 0;
}

.Deck__loading {
  width: 25%;
  text-align: center;
}

.Deck__card__name {
  text-align: center;
}

.Deck__card__name:first-letter {
  text-transform: capitalize;
}

.Deck__card__img {
  width: 100%;
}
